<%- include('partials/header') %>
    <div class="container pt-5">
        <h1>Tickets from Love</h1>
        <h2>Welcome here! This is a site where you can buy tickets.</h2>

        <div class="contents pt-3">
            <p>Click on Guest navigation link if you want to purchase a ticket.</p>
            <p>Click on Admin navigation link if you want to make CRUD operations.</p>
        </div>
    </div>
<%- include('partials/footer') %>
